<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Builds everything</description>
  <logRotator>
    <daysToKeep>-1</daysToKeep>
    <numToKeep>2</numToKeep>
    <artifactDaysToKeep>-1</artifactDaysToKeep>
    <artifactNumToKeep>-1</artifactNumToKeep>
  </logRotator>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.SubversionSCM">
    <locations>
      <hudson.scm.SubversionSCM_-ModuleLocation>
        <remote>http://svn.kualasoft.com/svn/netxstudio/trunk</remote>
        <local>.</local>
      </hudson.scm.SubversionSCM_-ModuleLocation>
    </locations>
    <excludedRegions></excludedRegions>
    <includedRegions></includedRegions>
    <excludedUsers></excludedUsers>
    <excludedRevprop></excludedRevprop>
    <excludedCommitMessages></excludedCommitMessages>
    <workspaceUpdater class="hudson.scm.subversion.CheckoutUpdater"/>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers class="vector"/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.plugins.buckminster.EclipseBuckminsterBuilder>
      <installationName>bucky36</installationName>
      <commands>setpref targetPlatformPath=${WORKSPACE}/netxstudio_target
import -Dtarget.os=* -Dtarget.ws=* -Dtarget.arch=* ${WORKSPACE}/releng/com.netxforge.netxstudio.everything.feature/site.cquery
build
perform -Q -Dtarget.os=* -Dtarget.ws=* -Dtarget.arch=* -Dcbi.include.source=false com.netxforge.netxstudio.updatesite.feature#site.p2</commands>
      <logLevel>debug</logLevel>
      <params></params>
      <targetPlatformName>None</targetPlatformName>
      <userTemp></userTemp>
      <userOutput></userOutput>
      <userCommand></userCommand>
      <userWorkspace></userWorkspace>
      <globalPropertiesFile></globalPropertiesFile>
      <equinoxLauncherArgs></equinoxLauncherArgs>
    </hudson.plugins.buckminster.EclipseBuckminsterBuilder>
    <hudson.tasks.Shell>
      <command>mv ${WORKSPACE}/buckminster.output/com.netxforge.netxstudio.updatesite.feature_1.0.0-eclipse.feature/site.p2/ ${WORKSPACE}</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.tasks.BuildTrigger>
      <childProjects>netxstudio.product</childProjects>
      <threshold>
        <name>SUCCESS</name>
        <ordinal>0</ordinal>
        <color>BLUE</color>
      </threshold>
    </hudson.tasks.BuildTrigger>
    <hudson.tasks.ArtifactArchiver>
      <artifacts>site.p2/**</artifacts>
      <latestOnly>false</latestOnly>
    </hudson.tasks.ArtifactArchiver>
    <hudson.plugins.buckminster.targetPlatform.TargetPlatformPublisher>
      <artifacts>netxstudio_target</artifacts>
      <latestOnly>false</latestOnly>
      <targetPlatformName>netxstudio_target</targetPlatformName>
    </hudson.plugins.buckminster.targetPlatform.TargetPlatformPublisher>
  </publishers>
  <buildWrappers/>
</project>