<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.activities">
      
      <activity
            description="Administration activitity"
            id="com.netxforge.netxstudio.ui.activity.admin"
            name="admin">
      </activity>
      
      <activityPatternBinding
            activityId="com.netxforge.netxstudio.ui.activity.admin"
            isEqualityPattern="true"
            pattern="com.netxforge.netxstudio.ui/com.netxforge.netxstudio.ui.perspective.admin">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="com.netxforge.netxstudio.ui.activity.admin"
            isEqualityPattern="true"
            pattern="com.netxforge.netxstudio.screens/com.netxforge.netxstudio.screens.selector.admin">
      </activityPatternBinding>
      <activity
            description="Monitoring activitity"
            id="com.netxforge.netxstudio.ui.activity.monitoring"
            name="monitoring">
      </activity>
      <activityPatternBinding
            activityId="com.netxforge.netxstudio.ui.activity.monitoring"
            isEqualityPattern="true"
            pattern="com.netxforge.netxstudio.ui/com.netxforge.netxstudio.ui.perspective.monitoring">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="com.netxforge.netxstudio.ui.activity.monitoring"
            isEqualityPattern="true"
            pattern="com.netxforge.netxstudio.screens/com.netxforge.netxstudio.screens.selector.monitoring">
      </activityPatternBinding>
      
   </extension>
</plugin>
