<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.net4j.util.factories">
      <factory
            class="com.netxforge.netxstudio.server.NetxForgeUserManager$Factory"
            productGroup="org.eclipse.net4j.userManagers"
            type="NetxForgeUserManager">
      </factory>
   </extension>
    <extension point="org.eclipse.equinox.http.registry.servlets">
      <servlet 
      		alias="/netxforge"
      		class="com.netxforge.netxstudio.server.servlet.NetxForgeServiceServlet"/>
      <servlet 
      		alias="/netxforge/files" 
      		class="com.netxforge.netxstudio.server.servlet.DirectWriteServlet"
            load-on-startup="true">
      </servlet>
    </extension>
    
    
<!--    
    <extension
          point="org.eclipse.equinox.http.registry.servlets">
          <servlet
      alias="/reports"
      class="com.netxforge.netxstudio.server.servlet.ContentServlet"/>
    </extension>
-->    
    <extension
          point="org.eclipse.net4j.util.elementProcessors">
       <elementProcessor
             class="com.netxforge.netxstudio.server.ServerUtils$ServerElementProcessor">
       </elementProcessor>
    </extension>
    <extension
          id="NetXServer"
          point="org.eclipse.core.runtime.products">
       <product
             application="org.eclipse.emf.cdo.server.app"
             name="Netxserver">
          <property
                name="appName"
                value="Netxserver">
          </property>
       </product>
    </extension>
   <extension
         point="org.eclipse.equinox.http.registry.resources">
      <resource
            alias="/www"
            base-name="/www">
      </resource>
   </extension>

</plugin>
