/* MIGRATED INSTIKI STYLES */ #wikiedit {
    position: relative;
    float: left;
    background: white;
    width: 450px;
    height: 500px;
} #editFormButtons {
	position: relative;
	float: left;
} #revision p {
    font-size: 13px;
} .wiki_admin h2 {
    border: solid 1px #5d6e65;
} .wiki_admin_buttons {
    position: relative;
    clear: left;
    background: #ddd;
    border: solid 1px #5d6e65;
    color: #5d6e65;
    width: 50%;
}

/* Create an image button */ .wiki_admin_buttons a {
    color: #5d6e65;
} .wiki_admin {
    position: relative;
    float: left;
    background: #eee;
    width: 50%;
    height: 100px;
} .navigation {
    margin-top: 0.3em;
    font-size: 90%;
    color: #999;
} .navigation a:hover {
    color: white;
    background-color: black;
    text-decoration: none;
} .navigation a {
    color: black;
} .navigation small a {
    font-weight: normal;
} #MarkupHelp {
    position: relative;
    float: right;
    margin-top: 0.5em;
} #MarkupHelp table {
    margin-bottom: 0;
    border-top: 3px solid #999;
    border-left: 3px solid #999;
    border-right: 3px solid #BBB;
    border-bottom: 3px solid #BBB
} #MarkupHelp td {
    padding: 0.2em;
    margin: 0;
    border: 1px solid #999;
    border-width: 1px 0 1px 0;
    vertical-align: top;
    white-space: nowrap;
} #MarkupHelp td.arrow {
    padding-right: 5px;
    padding: 0 0.75em;
    color: #999;
} #MarkupHelp h3 {
    font-size: 90%;
    font-weight: bold;
    font-weight: normal;
    margin: 0 0 5px 0;
    padding: 5px 0 0 0;
}