<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.net4j.util.factories">
      <factory
            class="com.netxforge.nextstudio.server.NetxForgeUserManager$Factory"
            productGroup="org.eclipse.net4j.userManagers"
            type="NetxForgeUserManager">
      </factory>
   </extension>

    <extension id="app" point="org.eclipse.core.runtime.applications" name="NetxForge CDO Server">
				<application cardinality="1" thread="any">
					<run class="org.eclipse.emf.cdo.internal.server.bundle.CDOServerApplication"/>
 				</application>
		</extension>

   	<extension id="product" point="org.eclipse.core.runtime.products">
      	<product
        	name="NetxForge CDO Server"
          	application="org.eclipse.emf.cdo.server.app">
        		<property name="appName" value="NetxForge CDO Server"/>
      	</product>
   	</extension>
    <extension
          point="org.eclipse.equinox.http.registry.servlets">
          <servlet
      alias="/netxforge/service"
      class="com.netxforge.nextstudio.server.servlet.NetxForgeServiceServlet"/>
    </extension>

</plugin>
