<?xml version="1.0" encoding="UTF-8"?>
<scr:component xmlns:scr="http://www.osgi.org/xmlns/scr/v1.1.0" name="com.netxforge.netxstudio.emf.teneo.persistence">
   <implementation class="com.netxforge.netxstudio.emf.teneo.PersistenceService"/>
   <service>
      <provide interface="com.netxforge.netxstudio.emf.teneo.IPersistenceService"/>
   </service>
</scr:component>
