<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

 <extension
         id="netxstudio"
         point="org.eclipse.core.runtime.products">
      <product
            application="com.netxforge.netxstudio.ui.application"
            name="CallFlow">
         <property
               name="appName"
               value="CallFlow">
         </property>
         <property
               name="windowImages"
               value="icons/Logo X 16.gif,icons/Logo X 32.gif,icons/Logo X 48.gif,icons/Logo X 64.gif,icons/Logo X 128.gif">
         </property>
         <property
               name="aboutImage"
               value="platform:/plugin/com.netxforge.netxstudio.client.product/icons/Logo about 250-330.png">
         </property>
         <property
               name="aboutText"
               value="%aboutText">
         </property>
         
<!-- Specific for universal intro-->         
<!--         
         <property
            name="introTitle"
            value="NetXStudio product"/>
      	<property
            name="introBrandingImage"
            value="product:icons\logo X 128.png"/>
	   <property
            name="introBrandingImageText"
            value="NetXForge"/>
-->         
      </product>
   </extension>

<!-- Universal Intro implementation. 
   <extension
         point="org.eclipse.ui.intro">
      <introProductBinding
            introId="org.eclipse.ui.intro.universal"
            productId="com.netxforge.netxstudio.client.product.netxstudio"/>
   </extension>
-->
<!-- SKIPP Customized Intro implementation.
   <extension
         point="org.eclipse.ui.intro">
      <intro
            class="org.eclipse.ui.intro.config.CustomizableIntroPart"
            id="com.netxforge.netxstudio.client.product.intro">
      </intro>
      <introProductBinding
            introId="com.netxforge.netxstudio.client.product.intro"
            productId="com.netxforge.netxstudio.client.product.netxstudio">
      </introProductBinding>
   </extension>
   <extension
         point="org.eclipse.ui.intro.config">
      <config
            content="introContent.xml"
            id="com.netxforge.netxstudio.client.product.introConfigId"
            introId="com.netxforge.netxstudio.client.product.intro">
         <presentation
               home-page-id="root">
            <implementation
                  kind="html"
                  os="win32,linux,macosx"
                  style="content/shared.css">
            </implementation>
         </presentation>
      </config>
   </extension>
-->  
   <extension
         point="org.eclipse.ui.splashHandlers">
      <splashHandler
            class="com.netxforge.netxstudio.callflow.product.splashHandlers.InteractiveSplashHandler"
            id="com.netxforge.netxstudio.callflow.product.splashHandlers.interactive">
      </splashHandler>
      <splashHandlerProductBinding
            productId="com.netxforge.netxstudio.callflow.product.netxstudio"
            splashId="com.netxforge.netxstudio.callflow.product.splashHandlers.interactive">
      </splashHandlerProductBinding>
   </extension>
</plugin>
