<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="com.netxforge.netxstudio.ui.application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="com.netxforge.netxstudio.ui.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
       <perspective
             class="com.netxforge.netxstudio.ui.perspective.LibraryPerspective"
             icon="icons/view16/library_editor.gif"
             id="com.netxforge.netxstudio.ui.perspective.library"
             name="%perspective.name">
      </perspective>
      <perspective
            class="com.netxforge.netxstudio.ui.perspective.DesignPerspective"
            icon="icons/view16/designer_editor.png"
            id="com.netxforge.netxstudio.ui.perspective.design"
            name="%perspective.name.0">
      </perspective>
      <perspective
            class="com.netxforge.netxstudio.ui.perspective.MonitoringPerspective"
            icon="icons/view16/monitor_editor.png"
            id="com.netxforge.netxstudio.ui.perspective.monitoring"
            name="%perspective.name.1">
      </perspective>
      <perspective
            class="com.netxforge.netxstudio.ui.perspective.AdminPerspective"
            icon="icons/view16/admin_editor.png"
            id="com.netxforge.netxstudio.ui.perspective.admin"
            name="Administrative">
      </perspective>
      <perspective
            class="com.netxforge.netxstudio.ui.perspective.WelcomePerspective"
            id="com.netxforge.netxstudio.ui.perspective.welcome"
            name="Welcome">
      </perspective>
   </extension>

   
   
   <!-- ActionSets -->
   <!-- We tigh our commands trough actions sets, we also tigh them to part ID's in the workbench --> 
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="com.netxforge.netxstudio.ui.designActionSet"
            label="%actionSet.label"
            visible="false">
      </actionSet>
   </extension>

   <extension point="org.eclipse.ui.actionSetPartAssociations">
		<actionSetPartAssociation 
			targetID="com.netxforge.netxstudio.ui.designActionSet">
				<part id="com.netxforge.netxstudio.editors.designsingledomain"/>
		</actionSetPartAssociation>
	</extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="com.netxforge.netxstudio.ui.inDesignActionSet">
         <with
               variable="activeContexts">
            <iterate
                  operator="or">
               <equals
                     value="com.netxforge.netxstudio.ui.designActionSet">
               </equals>
            </iterate>
         </with>
      </definition>
   </extension>
   
   <extension
         point="org.eclipse.ui.menus">
<!-- Custom entry into the main menu.           
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=edit">
            <menu id="com.netxforge.netxstudio.menu.library" label="Library">
            <separator
                  name="additions"
                  visible="true">
            </separator>
			</menu>
      </menuContribution>

	<menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <command
               commandId="com.netxforge.netxstudio.ui.command.refreshview"
               style="push">
         </command>
         <command
               commandId="com.netxforge.netxstudio.ui.command.showproperties"
               style="push">
         </command>
    </menuContribution>
 -->      
    <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="com.netxforge.netxstudio.ui.toolbar.netxstudio"
               label="%toolbar.label">
            <command
                  commandId="com.netxforge.netxstudio.ui.command.network"
                  icon="icons/etool16/Network_wiz.png"
                  style="push">
              	<visibleWhen>
                  <reference
                        definitionId="com.netxforge.netxstudio.ui.inDesignActionSet">
                  </reference>
               </visibleWhen>
            </command>
            <command
                  commandId="com.netxforge.netxstudio.ui.command.node"
                  icon="icons/etool16/Node_wiz.png"
                  style="push">
                  <visibleWhen>
                  <reference
                        definitionId="com.netxforge.netxstudio.ui.inDesignActionSet">
                  </reference>
               </visibleWhen>
            </command>
            <command
                  commandId="com.netxforge.netxstudio.ui.command.equipment"
                  icon="icons/etool16/Equipment_wiz.png"
                  style="push">
                  <visibleWhen>
                  <reference
                        definitionId="com.netxforge.netxstudio.ui.inDesignActionSet">
                  </reference>
               </visibleWhen>
            </command>
         </toolbar>
	</menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="com.netxforge.netxstudio.ui.command.network"
            name="%command.name">
      </command>
      <command
            id="com.netxforge.netxstudio.ui.command.node"
            name="%command.name.0">
      </command>
      <command
            id="com.netxforge.netxstudio.ui.command.equipment"
            name="%command.name.1">
      </command>
<!--      
      <command
            id="com.netxforge.netxstudio.ui.command.refreshview"
            name="Refresh">
      </command>
-->      
      <category
            id="com.netxforge.netxstudio.ui"
            name="%category.name">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
<!-- TODO Migration of editor action bar contributor       
      <handler
            class="com.netxforge.netxstudio.ui.handlers.RefreshViewHandler"
            commandId="com.netxforge.netxstudio.ui.command.refreshview">
      </handler>
-->      
      <handler
            class="com.netxforge.netxstudio.ui.handlers.NetworkHandler"
            commandId="com.netxforge.netxstudio.ui.command.network">
      </handler>
            <handler
            class="com.netxforge.netxstudio.ui.handlers.NodeHandler"
            commandId="com.netxforge.netxstudio.ui.command.node">
      </handler>
      <handler
            class="com.netxforge.netxstudio.ui.handlers.EquipmentHandler"
            commandId="com.netxforge.netxstudio.ui.command.equipment">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.exportWizards">
      <category
            id="com.netxforge.netxstudio.ui.category.export"
            name="%category.name.0">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.importWizards">
      <category
            id="com.netxforge.netxstudio.ui.category.import"
            name="%category.name.1">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="com.netxforge.netxstudio.ui.category.new"
            name="%category.name.2">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="com.netxforge.netxstudio.ui"
            name="%category.name.3">
      </category>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
</plugin>
