<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="netxstudio_kepler" sequenceNumber="12">
<locations>
<location path="${libraries}/emf-cdo-I20130201-0411-Dropins" type="Directory"/>
<location path="${libraries}/Peaberry 1.1.1" type="Directory"/>
<location path="${libraries}/google" type="Directory"/>
<location path="${libraries}/emf 2.9 SDK" type="Directory"/>
<location path="${libraries}/orbit-buildrepo-R20130827064939" type="Directory"/>
<location path="${libraries}/xtext 2.0.0 baseline" type="Directory"/>
<location path="${libraries}/antlr 3.2" type="Directory"/>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.rcp.source.feature.group" version="4.3.0.v20130605-2000"/>
<unit id="org.eclipse.pde.api.tools.ee.feature.feature.group" version="1.0.0.v20130327-1631"/>
<unit id="org.eclipse.releng.tools.feature.group" version="3.5.0.v20130523-0845"/>
<unit id="org.eclipse.equinox.sdk.feature.group" version="3.9.0.v20130604-2047"/>
<unit id="org.eclipse.sdk.ide" version="4.3.0.I20130605-2000"/>
<unit id="org.eclipse.platform.sdk" version="4.3.0.I20130605-2000"/>
<unit id="org.eclipse.test.feature.group" version="3.6.0.v20130424-0442"/>
<unit id="org.eclipse.sdk.tests.feature.group" version="4.3.0.v20130606-0135"/>
<unit id="org.eclipse.platform.ide" version="4.3.0.I20130605-2000"/>
<unit id="org.eclipse.rcp.feature.group" version="4.3.0.v20130605-2000"/>
<repository location="http://download.eclipse.org/eclipse/updates/4.3"/>
</location>
<location path="${libraries}/eclipse-4.3-delta-pack" type="Directory"/>
</locations>
</target>
