.products_banner {background: url(/images/products_banner.png) no-repeat}
.singlesection {position: relative; float: left; top: 10px; left: 20px; width: 940px; border: solid 1px black; background: white; margin-bottom: 20px; padding: 10px}
.singlefixedsection {position: relative; float: left; top: 10px; left: 20px; width: 940px; border: solid 1px black; background: white; margin-bottom: 20px; padding: 10px; height: 800px}
.box600 {position: relative; float: left; width: 600px; background: white}
.box200 {position: relative; float: left; top: 10px; width: 170px; border-top: solid 2px black; background: white; margin-bottom: 20px; margin-right: 10px; padding: 10px; height: 190px}
.leftsection {position: relative; float: left; width: auto}
.middlesection {position: relative; float: left; width: 49%; border: solid 1px black; height: auto}
.middlesection_2 {position: relative; float: left; top: 10px; left: 2%; width: 70%; border: solid 1px black; height: auto; background: white; padding: 10px}
.divider_vertical {position: relative; width: 20px; background: #b63139; height: 100%}
.rightsection {position: relative; float: left; width: 100%; height: auto}
.right_half_section {position: relative; float: right; width: auto; height: 100%; background: #eee; padding-left: 10px; padding-right: 10px}
.bottom_wrapper {background: url(/images/studio_sidebar_bottom_bg.png) top left no-repeat; height: 20px; width: 100%}
.top_wrapper {background: url(/images/studio_sidebar_top_bg.png) top left no-repeat; padding-top: 15px; padding-right: 25px}
.right-sidebar-block {background: url(/images/studio_sidebar_middle_bg.png) top left repeat-y; padding: 0; position: relative; float: right; top: 10px}
.sidebar-text {width: 250px; margin: 10px}
.probox {position: relative; float: left; width: 270px; margin: 5px}
.proboxcontent {width: 264px; border: solid 2px #b63139; overflow-y: auto}
.proboxcontent h1 {font-weight: bold; text-align: center}
.proboxmain {height: 130px; border-bottom: solid 1px #808080}
.proboxambition {height: 100px; border-bottom: solid 1px #808080}
.proboxexperience {height: 100px}
div.slider {width: 299px; margin: 0; background-color: #ccc; height: 10px; position: relative}
div.slider span.bar {position: relative; border-left: 1px solid #A0A0A0; width: 9px; height: 12px; float: left; z-index: 1}
div.slider ul {padding: 0px; margin: 0px}
div.slider li {padding: 0px; margin: 0px; display: inline; border-right: solid 1px #808080; width: 10px; min-width: 10px}
div.slider div.experience_chooser {position: absolute; width: 8px; height: 12px; border: solid 1px #808080; background: #A0A0A0; cursor: move; z-index: 2}
.experiencebox {position: relative; top: 0px; float: right; width: 500px; margin: 5px}
.experienceboxcontent {width: 484px; border: solid 3px #E3F40B; overflow-y: auto; padding-left: 5px; padding-right: 5px}
.experienceboxcontent table {width: 100%}
.experienceboxcontent table td {border-right: solid 1px #808080; border-top: solid 1px #808080}
.experienceboxcontent table tr {}
#experience_result {border: red solid 1px; height: 10px}
.table_description {margin-bottom: 10px}
.table_title {font-weight: bold}
.project_box {background: #A0A0FF}
.project_box td {background: #FFF}
.user_box {position: relative; float: left; border: #FFF solid 1px; width: 100%; margin-bottom: 20px}
.tightlist li {margin-bottom:0.25em}
.pagecontainer {width:85%; text-align:left; font-size:10pt;}
.menuminwidth0 {position:relative; border:0; margin:0; padding:0; width:100%; height:55px;min-width:560px}
@media print, projection {.menuminwidth0 {display:none}
}
* html .menuminwidth1 {position:relative; float:left; height: 1px; border-left:560px solid #fff}
* html .menuminwidth2 {position:relative; margin-left:-560px; height: 1px}
#masthead {position:relative; float:left; vertical-align:top; border:0; margin:0; padding:0; width:100%; height:36px; background:#F3F3F3}
#mastheadlogo {float:left; vertical-align:top; border:0; padding:0; margin:6px 0 0 7px}
#focus {position:absolute; border:0; margin:0; padding:0; top:15px; left:301px; width:121px; height:13px}
#search {position:absolute; border:0; margin:0; padding:0; top:7px; right:6px; width:60px; height:19px}
#text {position:absolute; border:1px solid #404040; margin:0; padding:0 0 0 2px; top:7px; right:65px; width:12em; font-size:14px !important; background:#fefefe}
#yah {position:absolute; top:5px; right:99px; width:87px; height:9px}
.menu {position:relative; float:left; margin:0; padding:0; border:0; height:20px; width:100%; background: #aaa; font-family: Verdana, Arial, Helvetica, sans-serif; z-index:1}
.menu img {vertical-align: top}
.menu ul {padding:0; margin:0; border:0; list-style-type:none; line-height:1.5em}
.menu li {float:left; position:relative; margin:0}
.menu ul li table {margin:-1px 0; margin:0; border-collapse:collapse; font-size:12px}
.drop {display:block; padding:0px 0.33em; margin:0; text-align:right; cursor:pointer; cursor:hand}
.drop span {float:left}
.rightmenu {position:relative; float:right}
#research {position:absolute; top:0px; left:364px}
.menu ul li ul {display:none}
.menu ul li a, .menu ul li a:visited {display:block; text-decoration:none; text-align: center; height:18px; width: 70px; color: #fff}
.menu ul li:hover a, .menu ul li a:hover {height:19px; font-weight: bold; color: #5d6e65; background: white; width: 68px; border-top: #5d6e65 1px solid; border-right: #5d6e65 1px solid; border-left: #5d6e65 1px solid; z-index: 2}
.menu ul li:hover ul, .menu ul li a:hover ul {display:block; position:absolute; margin:0; top:19px; left:1px; height:auto; width:auto; color: #5d6e65; border: #5d6e65 1px solid; z-index: -1}
.menu ul li:hover ul.leftbutton, .menu ul li a:hover ul.leftbutton {left:0px}
.menu ul li:hover ul.skinny, .menu ul li a:hover ul.skinny {width:8.08333em}
.menu ul.rightmenu li:hover ul, .menu ul.rightmenu li a:hover ul {left:auto; right:0}
* html .menu ul.rightmenu li a:hover ul {right:-1px}
.menu ul li:hover ul li a, .menu ul li a:hover ul li a {border:0; margin:0; padding:0; height:auto; color:#5d6e65; background: #FFF; width:13.5em; font-weight: normal; z-index: -1; text-align: left}
.menu ul li:hover ul li:hover a, .menu ul li a:hover ul li a:hover {color:#fff; background: #5e6e66; font-weight: bold}
.menu ul li:hover ul.skinny li a, .menu ul li a:hover ul.skinny li a, .menu ul li:hover ul.skinny li a:hover, .menu ul li a:hover ul.skinny li a:hover {width:8.08333em}
.menu ul li:hover ul li ul, .menu ul li a:hover ul li a ul {visibility:hidden}
.menu ul li:hover ul li:hover ul, .menu ul li a:hover ul li a:hover ul {visibility:visible; position:absolute; margin-top:-1px; top:0; left:8.08333em; width:14em}
.menu ul li:hover ul li:hover ul li a, .menu ul li a:hover ul li a:hover ul li a {width:14em; background:#d8d8d8}
.menu ul li:hover ul li:hover ul li a:hover, .menu ul li a:hover ul li a:hover ul li a:hover {width:14em; background:white}
#text {height:1.215em}
.rss_title {position: relative; float: left; font-size: 0.8em; font-weight: bold; background: #fff}
.rss_date {position: relative; float: right; top: 0px; font-style: italic; font-size: 0.8em}
.rss_description {position: relative; float: left; border-bottom: 1px solid #ddd; margin-bottom: 5%}
.rss_description a {font-size: 0.8em}
body, .download {margin: 0px; padding: 0px; color: #5d6e65; font-family: Verdana; font-size: 12px; background: #5e6e66 url(/images/body_gradient.png) top left repeat-x}
body h1 {font-weight: bold; font-size: 1.2em}
body h2 {font-weight: bold; font-size: 1.0em}
body h3 {font-size: 0.8em}
body h4 {font-size: 1.2em; font-weight: bold; color: #5295cd}
body .strikethrough {text-decoration: line-through}
#container {position: relative; width: 1000px; left: 200px; height: auto; background: black}
#top {width: 100%; margin: 0px; height: 68px; background: white}
#title {position: relative; float: left; z-index: 2}
#title a {font-size: xx-large; display: block; color: #5d6e65; text-decoration: none}
#login-status {position: relative; float: right; right: 10px; top: 50px}
#login-status a {text-align: right; text-decoration: none; color: #5d6e65; border-left: solid 1px; padding-left: 10px}
#status {position: relative; float: left; width: 800px; height: 18px; color: #999; z-index: 0; font-weight: bold}
.coolbar {position: relative; float: left; height: 12px; background: url(/images/coolbar.png) no-repeat top right; width: 100%; color: white}
.content {position: relative; float: left; background: #f0942d url(/images/content-bg.png) top left repeat-x; padding: 0px; width: 100%; height: auto}
.content h1 {font-size: 1.5em; margin-bottom: 5px}
.content a img {border: none}
.content a:link {}
.content a:visited {}
.content a:hover {}
.content a:active {}
#footer {position: relative; float: left; width: 100%; height: 100px; background: #000 url(/images/footer-gradient.png) repeat-x top left}
.footer-section {position: relative; float: left; border-right: solid 1px white; width: 25%; height: 80%; margin-top: 10px}
.footer-section ul {list-style: none}
.footer-section a {text-decoration: none; color: #fff; font-size: 0.9em}
#list {background: #eee}
#list h1 {font-weight: bold; font-size: 1em}
#list p {}
table {position: relative; color: rgb(65, 50, 14); font-family: Verdana, Arial, sans-serif;; font-size: 1em; background: #FFD; border-spacing: 0px 0px; border: solid 1px #808080; width: 300px}
th {text-align: left; color: #aaa}
td {border-bottom: dotted 1px #eee; border-right: dotted 1px #aaa; min-width: 30px}
.trline0 {background: #fcf1f2}
.trline1 {}
.trtitle a {font-weight: bold; font-size: larger; text-decoration: none}
#form_page {}
#form_page input {float: left; width: 200px; margin-bottom: 10px}
#form_page label {float: left; width: 150px; margin-bottom: 10px}
#form_page textarea {margin-bottom: 10px}
#form_page br {clear: left}
#form_text {position: relative; float: left; width: 400px}
#form_text input {position: relative; width: 60px; float: right; right: auto}
.inputBox {font-family: verdana, arial, helvetica, sans-serif; font-size: 80%; padding: 0.3em; margin-bottom: 1.5em}
#wikiedit {position: relative; float: left; background: white; width: 450px; height: 500px}
#editFormButtons {position: relative; float: left}
#revision p {font-size: 13px}
.wiki_admin h2 {border: solid 1px #5d6e65}
.wiki_admin_buttons {position: relative; clear: left; background: #ddd; border: solid 1px #5d6e65; color: #5d6e65; width: 50%}
.wiki_admin_buttons a {color: #5d6e65}
.wiki_admin {position: relative; float: left; background: #eee; width: 50%; height: 100px}
.navigation {margin-top: 0.3em; font-size: 90%; color: #999}
.navigation a:hover {color: white; background-color: black; text-decoration: none}
.navigation a {color: black}
.navigation small a {font-weight: normal}
#MarkupHelp {position: relative; float: right; margin-top: 0.5em}
#MarkupHelp table {margin-bottom: 0; border-top: 3px solid #999; border-left: 3px solid #999; border-right: 3px solid #BBB; border-bottom: 3px solid #BBB }
#MarkupHelp td {padding: 0.2em; margin: 0; border: 1px solid #999; border-width: 1px 0 1px 0; vertical-align: top; white-space: nowrap}
#MarkupHelp td.arrow {padding-right: 5px; padding: 0 0.75em; color: #999}
#MarkupHelp h3 {font-size: 90%; font-weight: bold; font-weight: normal; margin: 0 0 5px 0; padding: 5px 0 0 0}