<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension point="org.eclipse.ui.commands">
      <command
            categoryId="com.netxforge.netxstudio.emf.poi"
            id="com.netxforge.netxstudio.emf.poi.scan"
            name="%command.name">
      </command>
      <category
            id="com.netxforge.netxstudio.emf.poi"
            name="%category.name">
      </category>
	</extension>
 	<extension point="org.eclipse.ui.menus">
        <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="com.netxforge.netxstudio.emf.poi.toolbar"
               label="%toolbar.label">
            <command
                  commandId="com.netxforge.netxstudio.emf.poi.scan"
                  style="push">
            </command>
         </toolbar>
      </menuContribution>
	</extension>
    <extension point="org.eclipse.ui.handlers" >
      <handler
            class="com.netxforge.netxstudio.emf.poi.ui.handlers.ScanningHandler"
            commandId="com.netxforge.netxstudio.emf.poi.scan">
      </handler>
	</extension>
	<extension
       point="org.eclipse.ui.exportWizards">
    <wizard
          category="com.netxforge.netxstudio.ui.category.export"
          class="com.netxforge.netxstudio.emf.poi.ui.wizards.PoiExportWizard"
          id="com.netxforge.netxstudio.m2t.wizard.export"
          name="%wizard.name">
       <description>
          %wizard.description
       </description>
    </wizard>
 </extension>
</plugin>
