<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.emf.edit.childCreationExtenders">
      <extender
            class="com.netxforge.netxstudio.screens.editing.actions.EquipmentChildCreationExtender"
            uri="http://www.netxforge.com/13042011/library">
      </extender>
            <extender
            class="com.netxforge.netxstudio.screens.editing.actions.FunctionChildCreationExtender"
            uri="http://www.netxforge.com/13042011/library">
      </extender>
   </extension>
</plugin>
