<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.emf.edit.childCreationExtenders">
      <extender
            class="com.netxforge.netxstudio.screens.editing.internal.EditingEExtensionFactory:com.netxforge.netxstudio.screens.editing.actions.LibraryChildCreationExtender"
            uri="http://www.netxforge.com/13042011/library">
      </extender>
      <extender
            class="com.netxforge.netxstudio.screens.editing.internal.EditingEExtensionFactory:com.netxforge.netxstudio.screens.editing.actions.OperatorChildCreationExtender"
            uri="http://www.netxforge.com/13042011/operators">
      </extender>
<!--      
      <extender
            class="com.netxforge.netxstudio.screens.editing.internal.EditingEExtensionFactory:com.netxforge.netxstudio.screens.editing.actions.ServicesChildCreationExtender"
            uri="http://www.netxforge.com/13042011/services">
      </extender>
-->      
   </extension>
</plugin>
