<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
 <extension
             point="org.eclipse.ui.importWizards">
        <wizard
                category="com.netxforge.netxstudio.ui.category.import"
                class="com.netxforge.netxstudio.models.importer.ui.internal.ImportEExtensionFactory:com.netxforge.netxstudio.models.importer.ui.ImportLibraryWizard"
                id="com.netxforge.netxstudio.models.import.library"
                name="%wizard.name">
        </wizard>
		<wizard
                category="com.netxforge.netxstudio.ui.category.import"
                class="com.netxforge.netxstudio.models.importer.ui.internal.ImportEExtensionFactory:com.netxforge.netxstudio.models.importer.ui.ImportGeoWizard"
                id="com.netxforge.netxstudio.models.import.geo"
                name="Import Geographical objects">
        </wizard>
		<wizard
                category="com.netxforge.netxstudio.ui.category.import"
                class="com.netxforge.netxstudio.models.importer.ui.internal.ImportEExtensionFactory:com.netxforge.netxstudio.models.importer.ui.ImportOperatorWizard"
                id="com.netxforge.netxstudio.models.import.operator"
                name="Import Operator objects">
        </wizard>
        <wizard
                category="com.netxforge.netxstudio.ui.category.import"
                class="com.netxforge.netxstudio.models.importer.ui.internal.ImportEExtensionFactory:com.netxforge.netxstudio.models.importer.ui.ImportMetricsWizard"
                id="com.netxforge.netxstudio.models.import.metric"
                name="Import Metric objects">
        </wizard>
        <wizard
              category="com.netxforge.netxstudio.ui.category.import"
              class="com.netxforge.netxstudio.models.importer.ui.internal.ImportEExtensionFactory:com.netxforge.netxstudio.models.importer.ui.ImportServicesWizard"
              id="com.netxforge.netxstudio.models.import.services"
              name="Import Services objects">
        </wizard>
 </extension>
 </plugin>
