<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
 <extension
       point="org.eclipse.ui.exportWizards">
    <wizard
          category="com.netxforge.netxstudio.ui.category.export"
          class="com.netxforge.netxstudio.models.export.ui.LibraryExportTemplateWizard"
          icon="icons/full/wizban/export_wiz.png"
          id="com.netxforge.netxstudio.models.export.wizard.import"
          name="Create a Library import template">
       <description>
        "Create an import template for Library data"
       </description>
    </wizard>
        <wizard
          category="com.netxforge.netxstudio.ui.category.export"
          class="com.netxforge.netxstudio.models.export.ui.OperatorExportTemplateWizard"
          icon="icons/full/wizban/export_wiz.png"
          id="com.netxforge.netxstudio.models.export.wizard.import"
          name="Create an Operator import template">
       <description>
         "Create an import template for Operator data"
       </description>
    </wizard>
        <wizard
          category="com.netxforge.netxstudio.ui.category.export"
          class="com.netxforge.netxstudio.models.export.ui.GeoExportTemplateWizard"
          icon="icons/full/wizban/export_wiz.png"
          id="com.netxforge.netxstudio.models.export.wizard.import"
          name="Create a Geo. import template">
       <description>
         "Create an import template for Geographical data"
       </description>
    </wizard>
        <wizard
          category="com.netxforge.netxstudio.ui.category.export"
          class="com.netxforge.netxstudio.models.export.ui.MetricsExportTemplateWizard"
          icon="icons/full/wizban/export_wiz.png"
          id="com.netxforge.netxstudio.models.export.wizard.import"
          name="Create a Metrics import template">
       <description>
         "Create an import template for Metrics data"
       </description>
    </wizard>
    <!-- WIZARDS WHICH NEED DEPENCY INJECTION --> 
    <wizard
          category="com.netxforge.netxstudio.ui.category.export"
          class="com.netxforge.netxstudio.models.export.ui.internal.ExportEExtensionFactory:com.netxforge.netxstudio.models.export.ui.NodeTypeExportWizard"
          icon="icons/full/wizban/export_wiz.png"
          id="com.netxforge.netxstudio.models.export.wizard.ui.nodetype"
          name="Export a Network Element type to HTML">
       <description>
         Export a Network Element type to HTML
       </description>
       <selection
             class="com.netxforge.netxstudio.library.NodeType">
       </selection>
    </wizard>
 </extension>
</plugin>
