<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
 <extension
       point="org.eclipse.ui.exportWizards">
    <wizard
          category="com.netxforge.netxstudio.ui.category.export"
          class="com.netxforge.netxstudio.models.export.ui.LibraryXLSTemplateWizard"
          icon="icons/full/wizban/export_wiz.png"
          id="com.netxforge.netxstudio.models.export.wizard.import"
          name="Create a Library import template">
       <description>
        "Create an import template for Library data"
       </description>
    </wizard>
    <wizard
          category="com.netxforge.netxstudio.ui.category.export"
          class="com.netxforge.netxstudio.models.export.ui.OperatorXLSTemplateWizard"
          icon="icons/full/wizban/export_wiz.png"
          id="com.netxforge.netxstudio.models.export.wizard.import"
          name="Create an Operator import template">
       <description>
         "Create an import template for Operator data"
       </description>
    </wizard>
    <wizard
          category="com.netxforge.netxstudio.ui.category.export"
          class="com.netxforge.netxstudio.models.export.ui.ServicesXLSTemplateWizard"
          icon="icons/full/wizban/export_wiz.png"
          id="com.netxforge.netxstudio.models.export.wizard.import"
          name="Create a Services import template">
       <description>
         "Create an import template for Service data"
       </description>
    </wizard>
    <wizard
          category="com.netxforge.netxstudio.ui.category.export"
          class="com.netxforge.netxstudio.models.export.ui.GeoXLSTemplateWizard"
          icon="icons/full/wizban/export_wiz.png"
          id="com.netxforge.netxstudio.models.export.wizard.import"
          name="Create a Geo. import template">
       <description>
         "Create an import template for Geographical data"
       </description>
    </wizard>
        <wizard
          category="com.netxforge.netxstudio.ui.category.export"
          class="com.netxforge.netxstudio.models.export.ui.MetricsXLSTemplateWizard"
          icon="icons/full/wizban/export_wiz.png"
          id="com.netxforge.netxstudio.models.export.wizard.import"
          name="Create a Metrics import template">
       <description>
         "Create an import template for Metrics data"
       </description>
    </wizard>
    <!-- WIZARDS WHICH NEED DEPENCY INJECTION --> 
    <wizard
          category="com.netxforge.netxstudio.ui.category.export"
          class="com.netxforge.netxstudio.models.export.ui.internal.ExportEExtensionFactory:com.netxforge.netxstudio.models.export.ui.NodeTypeHTMLTemplateWizard"
          icon="icons/full/wizban/export_wiz.png"
          id="com.netxforge.netxstudio.models.export.wizard.ui.nodetype.html"
          name="Export a Network Element type to HTML">
       <description>
         Export a Network Element type to HTML
       </description>
       <selection
             class="com.netxforge.netxstudio.library.NodeType">
       </selection>
    </wizard>
     <wizard
          category="com.netxforge.netxstudio.ui.category.export"
          class="com.netxforge.netxstudio.models.export.ui.internal.ExportEExtensionFactory:com.netxforge.netxstudio.models.export.ui.NodeHTMLTemplateWizard"
          icon="icons/full/wizban/export_wiz.png"
          id="com.netxforge.netxstudio.models.export.wizard.ui.node.html"
          name="Export a Network Element instance to HTML">
       <description>
         Export a Network Element instance to HTML
       </description>
       <selection
             class="com.netxforge.netxstudio.operators.Node">
       </selection>
    </wizard>
    <wizard
          category="com.netxforge.netxstudio.ui.category.export"
          class="com.netxforge.netxstudio.models.export.ui.internal.ExportEExtensionFactory:com.netxforge.netxstudio.models.export.ui.poi.NodeTypeXLSPOIWizard"
          icon="icons/full/wizban/export_wiz.png"
          id="com.netxforge.netxstudio.models.export.wizard.ui.nodetype.xls"
          name="Export a Network Element type to XLS">
       <description>
         Export a Network Element type to XLS
       </description>
    </wizard>
     <wizard
          category="com.netxforge.netxstudio.ui.category.export"
          class="com.netxforge.netxstudio.models.export.ui.internal.ExportEExtensionFactory:com.netxforge.netxstudio.models.export.ui.poi.NodeXLSPOIWizard"
          icon="icons/full/wizban/export_wiz.png"
          id="com.netxforge.netxstudio.models.export.wizard.ui.node.xls"
          name="Export a Network Element instance to XLS">
       <description>
         Export a Network Element instance to XLS
       </description>
    </wizard>
<!-- Disabled    
    <wizard
          category="com.netxforge.netxstudio.ui.category.export"
          class="com.netxforge.netxstudio.models.export.ui.internal.ExportEExtensionFactory:com.netxforge.netxstudio.models.export.ui.poi.MetricsXLSPOIWizard"
          icon="icons/full/wizban/export_wiz.png"
          id="com.netxforge.netxstudio.models.export.wizard.ui.metrics.xls"
          name="Export Metrics Data to XLS">
       <description>
         Export Metrics Data to XLS
       </description>
    </wizard>
-->     
     <wizard
          category="com.netxforge.netxstudio.ui.category.export"
          class="com.netxforge.netxstudio.models.export.ui.internal.ExportEExtensionFactory:com.netxforge.netxstudio.models.export.ui.poi.AllXLSPOIWizard"
          icon="icons/full/wizban/export_wiz.png"
          id="com.netxforge.netxstudio.models.export.wizard.ui.all.xls"
          name="Export All Data to XLS">
       <description>
         Export All Data to XLS
       </description>
    </wizard>
 </extension>
</plugin>
