<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.activities">
      
      <activity
            description="Administration activitity"
            id="com.netxforge.netxstudio.ui.activity.admin"
            name="admin">
      </activity>
       <activity
            description="Monitoring activitity"
            id="com.netxforge.netxstudio.ui.activity.monitoring"
            name="monitoring">
      </activity>
            <activity
            description="JDT UI activitity"
            id="com.netxforge.netxstudio.ui.activity.jdt.ui"
            name="jdt.ui">
      </activity>
	  <activity
            description="Import Wizard activitity"
            id="com.netxforge.netxstudio.ui.activity.wizard"
            name="wizard">
      </activity>
	  <activity
            description="IDE filtering"
            id="com.netxforge.netxstudio.ui.activity.ide"
            name="ide">
      </activity>
      
      <activityPatternBinding
            activityId="com.netxforge.netxstudio.ui.activity.admin"
            isEqualityPattern="true"
            pattern="com.netxforge.netxstudio.ui/com.netxforge.netxstudio.ui.perspective.admin">
      </activityPatternBinding>
            <activityPatternBinding
            activityId="com.netxforge.netxstudio.ui.activity.wizard"
            pattern="com\.netxforge\.netxstudio\.models\.import\.ui/.*">
      </activityPatternBinding>
      
      <activityPatternBinding
            activityId="com.netxforge.netxstudio.ui.activity.admin"
            isEqualityPattern="true"
            pattern="com.netxforge.netxstudio.screens/com.netxforge.netxstudio.screens.selector.admin">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="com.netxforge.netxstudio.ui.activity.monitoring"
            isEqualityPattern="true"
            pattern="com.netxforge.netxstudio.ui/com.netxforge.netxstudio.ui.perspective.monitoring">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="com.netxforge.netxstudio.ui.activity.monitoring"
            isEqualityPattern="true"
            pattern="com.netxforge.netxstudio.screens/com.netxforge.netxstudio.screens.selector.monitoring">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="com.netxforge.netxstudio.ui.activity.jdt.ui"
            pattern="org\.eclipse\.jdt\.ui/.*">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="com.netxforge.netxstudio.ui.activity.ide"
            pattern="org\.eclipse\.ui\.ide/org\.eclipse\.ui\.wizards\.import.*">
      </activityPatternBinding>
      
   </extension>
</plugin>