.products_banner {
    background: url(/images/products_banner.png) no-repeat;
}

/*
 * A single section spanning the whole width.
 * It has a border and floats in the middle of the content canvas.
 *
 */ .singlesection {
    position: relative;
    float: left;
    top: 10px;
    left: 20px;
    width: 940px;
    border: solid 1px black;
    background: white;
    margin-bottom: 20px;
    padding: 10px;
}

/*
 * A single section spanning the whole width with a fixed height and auto-scrolling
 * It has a border and floats in the middle of the content canvas.
 */ .singlefixedsection {
    position: relative;
    float: left;
    top: 10px;
    left: 20px;
    width: 940px;
    border: solid 1px black;
    background: white;
    margin-bottom: 20px;
    padding: 10px;
    height: 800px;
} .box600 {
    position: relative;
    float: left;
    width: 600px;
    background: white;

} .box200 {
    position: relative;
    float: left;
    top: 10px;
    width: 170px;
    border-top: solid 2px black;
    background: white;
    margin-bottom: 20px;
    margin-right: 10px;
    padding: 10px;
    height: 190px;
}

/*
 * A multi-panel section
 * - Leftsection
 * - middlesection
 * - rightsection
 */ .leftsection {
    position: relative;
    float: left;
    width: auto;
    /*	border: red solid 1px; */
} .middlesection {
    position: relative;
    float: left;
    width: 49%;
    border: solid 1px black;
    height: auto;
} .middlesection_2 {
    position: relative;
    float: left;
    top: 10px;
    left: 2%;
    width: 70%;
    border: solid 1px black;
    height: auto;
    background: white;
    padding: 10px;
} .divider_vertical {
    position: relative;
    width: 20px;
    background: #b63139;
    height: 100%;
} .rightsection {
    position: relative;
    float: left;
    width: 100%;
    height: auto;
    /*	padding: 10px;
     border: 1px red solid
     background: url(/images/box300-rounded.png) top left no-repeat; */
} .right_half_section {
    position: relative;
    float: right;
    width: auto;
    height: 100%;
    background: #eee;
    padding-left: 10px;
    padding-right: 10px;
}

/* Rounded Corners*/ .bottom_wrapper {
    background: url(/images/studio_sidebar_bottom_bg.png) top left no-repeat;
    height: 20px;
    width: 100%;
} .top_wrapper {
    background: url(/images/studio_sidebar_top_bg.png) top left no-repeat;
    padding-top: 15px;
    padding-right: 25px;
} .right-sidebar-block {
    background: url(/images/studio_sidebar_middle_bg.png) top left repeat-y;
    padding: 0;
    position: relative;
    float: right;
    top: 10px;
} .sidebar-text {
    width: 250px;
    margin: 10px;
}

/*
 Use as:
 <div id="..." class="right-sidebar-block">
 <div class="top_wrapper">
 <div class="bottom_wrapper"/>
 </div>
 </div>
 */ .probox {
    position: relative;
    float: left;
    width: 270px;
    margin: 5px;
} .proboxcontent {
    width: 264px;
    border: solid 2px #b63139;
    overflow-y: auto;
} .proboxcontent h1 {
    font-weight: bold;
    text-align: center;
} .proboxmain {
    height: 130px;
    border-bottom: solid 1px #808080;
} .proboxambition {
    height: 100px;
    border-bottom: solid 1px #808080;
} .proboxexperience {
    height: 100px;
}

div.slider {
    width: 299px;
    margin: 0;
    background-color: #ccc;
    height: 10px;
    position: relative;
}

div.slider span.bar {
    position: relative;
    border-left: 1px solid #A0A0A0;
    width: 9px;
    height: 12px;
    float: left;
    z-index: 1;
}

div.slider ul {
    padding: 0px;
    margin: 0px;
}

div.slider li {
    padding: 0px;
    margin: 0px;
    display: inline;
    border-right: solid 1px #808080;
    width: 10px;
    min-width: 10px;
}

div.slider div.experience_chooser {
    position: absolute;
    width: 8px;
    height: 12px;
    border: solid 1px #808080;
    background: #A0A0A0;
    cursor: move;
    z-index: 2;
} .experiencebox {
    position: relative;
    top: 0px;
    float: right;
    width: 500px;
    margin: 5px;
} .experienceboxcontent {
    width: 484px;
    border: solid 3px #E3F40B;
    overflow-y: auto;
    padding-left: 5px;
    padding-right: 5px;
} .experienceboxcontent table {
    width: 100%;
} .experienceboxcontent table td {
    border-right: solid 1px #808080;
    border-top: solid 1px #808080;
} .experienceboxcontent table tr {
} #experience_result {
    border: red solid 1px;
    height: 10px;
} .table_description {
    margin-bottom: 10px;
} .table_title {
    font-weight: bold;
} .project_box {
    background: #A0A0FF;
} .project_box td {
    background: #FFF;
} .user_box {
    position: relative;
    float: left;
    border: #FFF solid 1px;
    width: 100%;
    margin-bottom: 20px;
}

/* Remove later @deprecated*/
/*
 .loginbox {
 position: relative;
 float: left;
 left: 5%;
 width: 90%;
 overflow: inherit;
 }
 
 .loginbox a {
 margin-bottom: 1px;
 display: block;
 background: #b63139;
 color: white;
 width: 90%;
 text-decoration: none;
 
 }
 
 .loginbox input {
 max-width: 80px;
 }
 
 
 .loginboxcontent {
 width: 100%;
 height: 200px;
 background: #eee;
 }
 
 .adbox {
 position: relative;
 float: left;
 width: 90% ;
 }
 
 .adboxcontent {
 width: 100%;
 border:  dotted 2px #eee;
 height: 200px;
 background: #fff;
 }
 
 
 .introbox {
 position: relative;
 float: left;
 width: 390px;
 margin: 5px;
 }
 
 .introboxcontent {
 width: 380px;
 border: solid 1px #b63139;
 }
 
 .newsbox {
 position: relative;
 float: left;
 left: 10%;
 width: 90%;
 }
 
 .newsboxcontent {
 width: 100%;
 }
 */ 
