<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.netxforge.screens.editing.base.perspective.AppPerspective"
            id="com.netxforge.gis.perspective"
            name="GIS">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="com.netxforge.editing.base.impl.BaseEditingImplEExtensionFactory:com.netxforge.screens.editing.base.AppScreenSelector"
            id="com.netxforge.gis.view"
            name="GIS View"
            restorable="true">
      </view>
   </extension>
   <extension
         point="com.netxforge.editing.iscreen">
      <iscreen
            class="com.netxforge.gis.GISScreen"
            name="GIS Screen">
      </iscreen>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="com.netxforge.gis.perspective">
         <view
               closeable="true"
               id="com.netxforge.gis.view"
               minimized="false"
               moveable="true"
               relationship="left"
               showTitle="false"
               standalone="true"
               visible="true">
         </view>
         <perspectiveShortcut
               id="com.netxforge.gis.perspective">
         </perspectiveShortcut>
      </perspectiveExtension>
   </extension>

</plugin>
