<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
     <view
           category="com.netxforge.netxstudio.ui"
           class="com.netxforge.netxstudio.screens.internal.ScreensEExtensionFactory:com.netxforge.netxstudio.screens.parts.AdminScreenSelector"
           icon="icons/view16/admin_editor.png"
           id="com.netxforge.netxstudio.screens.selector.admin"
           name="Admin">
      </view>
     <view
           category="com.netxforge.netxstudio.ui"
           class="com.netxforge.netxstudio.screens.internal.ScreensEExtensionFactory:com.netxforge.netxstudio.screens.parts.MonitoringScreenSelector"
           icon="icons/view16/monitor_editor.png"
           id="com.netxforge.netxstudio.screens.selector.monitoring"
           name="Monitoring">
      </view>
     <view
           category="com.netxforge.netxstudio.ui"
           class="com.netxforge.netxstudio.screens.internal.ScreensEExtensionFactory:com.netxforge.netxstudio.screens.parts.LibraryScreenSelector"
           icon="icons/view16/library_editor.gif"
           id="com.netxforge.netxstudio.screens.selector.library"
           name="Library">
      </view>
     <view
           category="com.netxforge.netxstudio.ui"
           class="com.netxforge.netxstudio.screens.internal.ScreensEExtensionFactory:com.netxforge.netxstudio.screens.parts.DesignScreenSelector"
           icon="icons/view16/designer_editor.png"
           id="com.netxforge.netxstudio.screens.selector.design"
           name="Design">
      </view>
       <view
             allowMultiple="false"
             category="com.netxforge.netxstudio.ui"
             class="com.netxforge.netxstudio.screens.internal.ScreensEExtensionFactory:com.netxforge.netxstudio.screens.parts.ChartScreenViewer"
             icon="icons/view16/chart_viewer.png"
             id="com.netxforge.netxstudio.screens.viewer.chart"
             name="Charts">
      </view>
      <view
            allowMultiple="false"
            category="com.netxforge.netxstudio.ui"
            class="com.netxforge.netxstudio.screens.internal.ScreensEExtensionFactory:com.netxforge.netxstudio.screens.parts.DashboardViewer"
            icon="icons/view16/dashboard_viewer.png"
            id="com.netxforge.netxstudio.screens.viewer.dashboard"
            name="Dashboard">
      </view>
      <view
            allowMultiple="false"
            category="com.netxforge.netxstudio.ui"
            class="com.netxforge.netxstudio.screens.internal.ScreensEExtensionFactory:com.netxforge.netxstudio.screens.parts.MultiChartScreenViewer"
            icon="icons/view16/chart_viewer.png"
            id="com.netxforge.netxstudio.screens.viewer.multichart"
            name="MultiCharts">
      </view>
       <view
             allowMultiple="false"
             category="com.netxforge.netxstudio.ui"
             class="com.netxforge.netxstudio.screens.internal.ScreensEExtensionFactory:com.netxforge.netxstudio.screens.parts.DataScreenViewer"
             icon="icons/view16/chart_viewer.png"
             id="com.netxforge.netxstudio.screens.viewer.data"
             name="Data">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
       <perspective
             class="com.netxforge.netxstudio.screens.perspective.LibraryPerspective"
             icon="icons/view16/library_editor.gif"
             id="com.netxforge.netxstudio.ui.perspective.library"
             name="%perspective.name">
      </perspective>
      <perspective
            class="com.netxforge.netxstudio.screens.perspective.DesignPerspective"
            icon="icons/view16/designer_editor.png"
            id="com.netxforge.netxstudio.ui.perspective.design"
            name="%perspective.name.0">
      </perspective>
      <perspective
            class="com.netxforge.netxstudio.screens.perspective.MonitoringPerspective"
            icon="icons/view16/monitor_editor.png"
            id="com.netxforge.netxstudio.ui.perspective.monitoring"
            name="%perspective.name.1">
      </perspective>
      <perspective
            class="com.netxforge.netxstudio.screens.perspective.AdminPerspective"
            icon="icons/view16/admin_editor.png"
            id="com.netxforge.netxstudio.ui.perspective.admin"
            name="%perspective.name.2">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            class="com.netxforge.netxstudio.screens.internal.ScreensEExtensionFactory:com.netxforge.netxstudio.screens.f1.support.ReportWizard"
            hasPages="true"
            id="com.netxforge.netxstudio.screens.reporting"
            name="Reporting Wizard">
      </wizard>
            <wizard
            class="com.netxforge.netxstudio.screens.internal.ScreensEExtensionFactory:com.netxforge.netxstudio.screens.f1.support.MonitoringWizard"
            hasPages="true"
            id="com.netxforge.netxstudio.screens.monitoring"
            name="Monitoring Wizard">
      </wizard>
	  <wizard
            class="com.netxforge.netxstudio.screens.internal.ScreensEExtensionFactory:com.netxforge.netxstudio.screens.f1.support.ValueRangeSelectionWizard"
            hasPages="true"
            id="com.netxforge.netxstudio.screens.valueranges"
            name="Value Range Wizard">
      </wizard>
   </extension>
   <extension
      point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension 
      		targetID ="com.netxforge.netxstudio.ui.perspective.design">
      		<showInPart id = "com.netxforge.netxstudio.screens.viewer.chart"/>
         	<showInPart id = "com.netxforge.netxstudio.screens.viewer.multichart"/>
         	<showInPart id = "com.netxforge.netxstudio.screens.viewer.data"/>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="com.netxforge.netxstudio.screens.charts"
            class="com.netxforge.netxstudio.screens.preferences.ChartLinesPreferencePage"
            id="com.netxforge.netxstudio.screens.preferences.lines"
            name="Chart Monitoring">
      </page>
      <page
            class="com.netxforge.netxstudio.screens.preferences.ChartGeneralPreferencePage"
            id="com.netxforge.netxstudio.screens.charts"
            name="Chart">
      </page>
      <page
            class="com.netxforge.netxstudio.screens.preferences.MonitoringPreferencePage"
            id="com.netxforge.netxstudio.screens.preferences.monitoring"
            name="Monitoring">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.netxforge.netxstudio.screens.preferences.ChartPreferenceInitializer">
      </initializer>
      <initializer
            class="com.netxforge.netxstudio.screens.preferences.MonitoringPreferenceInitializer">
      </initializer>
   </extension>
</plugin>
