<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--

We now open the editor, simply by connecting to the DB. 
Disconnecting closes the editor. 
When closing the editor in the UI, we don't disconnect, therefor we have an open Action
to re-open the editor. 

-->
<plugin>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.netxforge.netxstudio.emf.teneo.ui.preferences.PreferenceInitializer">
      </initializer>
   </extension>
	<extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.netxforge.netxstudio.emf.teneo.ui.preferences.DBPreferencePage"
            id="com.netxforge.d.db.preferences.DB"
            name="DB Settings">
      </page>
   </extension>
 <extension
       point="org.eclipse.ui.exportWizards">
    <wizard
          category="com.netxforge.netxstudio.ui.category.export"
          class="com.netxforge.netxstudio.emf.teneo.ui.wizards.DBExportWizard"
          id="com.netxforge.d.db.wizard.export"
          name=".netxstudio model file">
       <description>
          Export the Database content to .netxstudio
       </description>
    </wizard>
 </extension>
 <extension
       point="org.eclipse.ui.importWizards">
    <wizard
          category="com.netxforge.netxstudio.ui.category.import"
          class="com.netxforge.netxstudio.emf.teneo.ui.wizards.DBImportWizard"
          id="com.netxforge.d.db.wizard.import"
          name="DB Import">
    </wizard>
 </extension>
 <extension point="org.eclipse.ui.commands">
      <command
            categoryId="com.netxforge.d.netxstudio.db"
            id="com.netxforge.d.netxstudio.ConnectDBCommand"
            name="Connect">
      </command>
      <command
            categoryId="com.netxforge.d.netxstudio.db"
            id="com.netxforge.d.netxstudio.DisconnectDBCommand"
            name="Disconnect">
      </command>
      <command
            categoryId="com.netxforge.d.netxstudio.db"
            id="com.netxforge.netxstudio.rcpclient.opendb"
            name="Open">
      </command>
      <category
            id="com.netxforge.d.netxstudio.db"
            name="database">
      </category>
	</extension>
    <extension point="org.eclipse.ui.menus">
	 <menuContribution
            locationURI="menu:file?after=additions">
         <menu
               label="DB">
            <command
                  commandId="com.netxforge.d.netxstudio.ConnectDBCommand"
                  icon="icons/etool16/connect_creating.png"
                  style="push">
            </command>
            <command
                  commandId="com.netxforge.d.netxstudio.DisconnectDBCommand"
                  icon="icons/etool16/connect_no.png"
                  style="push">
            </command>
         </menu>
         <separator
               name="com.netxforge.netxstudio.diagram.separator1"
               visible="true">
         </separator>
      </menuContribution>
      
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="com.netxforge.netxstudio.emf.teneo.db.toolbar"
               label="DB">
            <command
                  commandId="com.netxforge.d.netxstudio.ConnectDBCommand"
                  icon="icons/etool16/connect_creating.png"
                  style="push">
            </command>
            <command
                  commandId="com.netxforge.d.netxstudio.DisconnectDBCommand"
                  icon="icons/etool16/connect_no.png"
                  style="push">
            </command>
            <command
                  commandId="com.netxforge.netxstudio.rcpclient.opendb"
                   icon="icons/etool16/edit.png"
                  style="push">
            </command>
         </toolbar>
      </menuContribution>
	</extension>
      
	<extension point="org.eclipse.ui.handlers" >
      <handler
            class="com.netxforge.netxstudio.emf.teneo.ui.handlers.ConnectHandler"
            commandId="com.netxforge.d.netxstudio.ConnectDBCommand">
         <enabledWhen>
            <reference
                  definitionId="com.netxforge.d.netxstudio.DBDisonnectedDefinition">
            </reference>
         </enabledWhen>
      </handler>
      <handler
            class="com.netxforge.netxstudio.emf.teneo.ui.handlers.DisconnectHandler"
            commandId="com.netxforge.d.netxstudio.DisconnectDBCommand">
         <enabledWhen>
            <reference
                  definitionId="com.netxforge.d.netxstudio.DBConnectedDefinition">
            </reference>
         </enabledWhen>
      </handler>
      <handler
            class="com.netxforge.netxstudio.emf.teneo.ui.handlers.OpenEditorHandler"
            commandId="com.netxforge.netxstudio.rcpclient.opendb">
         <enabledWhen>
            <reference
                   definitionId="com.netxforge.d.netxstudio.DBEditorClosedButConnectedDefinition">
            </reference>
         </enabledWhen>
      </handler>
	</extension>
    <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="com.netxforge.d.netxstudio.DBConnectedDefinition">
            <with variable="activeContexts">
            	<iterate ifEmpty="false" operator="or">
            		<equals value="com.netxforge.d.netxstudio.contexts.DBConnected"/>
        		</iterate>
    		</with>
      </definition>
      <definition
            id="com.netxforge.d.netxstudio.DBEditorClosedButConnectedDefinition">
         <and>
         	<not>
            <with variable="activeEditorId">
             	<equals
                  value="com.netxforge.netxstudio.editors.librarysingledomain">
            	</equals>
            </with>
            </not>
            <reference
                  definitionId="com.netxforge.d.netxstudio.DBConnectedDefinition">
            </reference>
         </and>
      </definition>
      <definition
            id="com.netxforge.d.netxstudio.DBDisonnectedDefinition">
         <with
               variable="activeContexts">
            <not>
         		<iterate ifEmpty="false" operator="or">
            		<equals value="com.netxforge.d.netxstudio.contexts.DBConnected"/>
        		</iterate>
            </not>
         </with>
      </definition>
   </extension>
      <extension
         point="org.eclipse.ui.contexts">
      <context
            description="Connected To DB"
            id="com.netxforge.d.netxstudio.contexts.DBConnected"
            name="connected">
      </context>
   </extension>
      <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            id="com.netxforge.netxstudio.ui.hibernate"
            name="Teneo Content"
            priority="normal">
         <describer
               class="com.netxforge.netxstudio.emf.teneo.ui.TeneoContent">
         </describer>
      </content-type>
   </extension>
   
</plugin>
